nodered/lib/flows/Telldus examples.json
[
    {
        "id": "e030672.205b098",
        "type": "tab",
        "label": "Telldus examples",
        "disabled": false,
        "info": ""
    },
    {
        "id": "210f0276.feaa3e",
        "type": "inject",
        "z": "e030672.205b098",
        "name": "",
        "topic": "devices/list",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "8855cac6.3b6a18"
            ]
        ]
    },
    {
        "id": "fa763ffe.ec36a",
        "type": "debug",
        "z": "e030672.205b098",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "10c25f98.655cd",
        "type": "http request",
        "z": "e030672.205b098",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": true,
        "url": "http://{{ipaddress}}/api/{{{topic}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "fa763ffe.ec36a"
            ]
        ]
    },
    {
        "id": "8855cac6.3b6a18",
        "type": "change",
        "z": "e030672.205b098",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\":\"Bearer \" & $globalContext(\"accessToken\")\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "10c25f98.655cd"
            ]
        ]
    },
    {
        "id": "f70dfedf.3d41c",
        "type": "comment",
        "z": "e030672.205b098",
        "name": "Example request",
        "info": "Have not found any documenation of the local API, but it seems to be a subset of the live API documentation at   \n  https://api.telldus.com/",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "c92c4d29.13857",
        "type": "inject",
        "z": "e030672.205b098",
        "name": "",
        "topic": "sensors/list",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "8855cac6.3b6a18"
            ]
        ]
    },
    {
        "id": "8ff5130f.d718f",
        "type": "inject",
        "z": "e030672.205b098",
        "name": "",
        "topic": "sensor/info",
        "payload": "{\"id\":7}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "8855cac6.3b6a18"
            ]
        ]
    },
    {
        "id": "f1163ac6.23e318",
        "type": "inject",
        "z": "e030672.205b098",
        "name": "",
        "topic": "sensors/list",
        "payload": "{\"includeValues\":1,\"includeScale\":1,\"includeUnit\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "8855cac6.3b6a18"
            ]
        ]
    }
]