nodered/lib/flows/Telldus authentication.json
[
    {
        "id": "7f95cb24.6f6f44",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bac60d2f.1c4af",
        "type": "http request",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ipaddress}}/api/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "5a074800.46a3c8"
            ]
        ]
    },
    {
        "id": "1f114db5.66c122",
        "type": "inject",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "topic": "",
        "payload": "app=\"Nodered\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e4e1f324.cfbf2"
            ]
        ]
    },
    {
        "id": "5a074800.46a3c8",
        "type": "change",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "requestToken",
                "pt": "flow",
                "to": "payload.token",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 140,
        "wires": [
            [
                "ddafdec4.2056b"
            ]
        ]
    },
    {
        "id": "2b0fa784.068d78",
        "type": "inject",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "topic": "",
        "payload": "requestToken",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "56727452.9ca0bc"
            ]
        ]
    },
    {
        "id": "2978546a.cf582c",
        "type": "comment",
        "z": "7f95cb24.6f6f44",
        "name": "Step 2 - Authenticate the app",
        "info": "Redirect the user to the url returned in step 1 to let him/her authenticate the app.",
        "x": 140,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e0ae859.cc2a18",
        "type": "comment",
        "z": "7f95cb24.6f6f44",
        "name": "Step 1 - Request a request token",
        "info": "Request a request token by performing a PUT call to the endpoint /api/token. You need to supply the application name as a parameter “app”\n  \n  http://api.telldus.net/localapi/api/authentication.html#step-1-request-a-request-token\n",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "58b170c0.2eed",
        "type": "comment",
        "z": "7f95cb24.6f6f44",
        "name": "Step 3 - Exchange the request token for an access token",
        "info": "When the user has authenticated the request token in step 2 the application needs to exchange this for an access token. The access token can be used in the API requests. To exchange the request token for an access token perform a GET call to the same endpoint in step 1. Supply the request token as the parameter “token”.",
        "x": 230,
        "y": 220,
        "wires": []
    },
    {
        "id": "e4e1f324.cfbf2",
        "type": "change",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"application/x-www-form-urlencoded\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "bac60d2f.1c4af"
            ]
        ]
    },
    {
        "id": "ddafdec4.2056b",
        "type": "debug",
        "z": "7f95cb24.6f6f44",
        "name": "url",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.authUrl",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "4b30d849.c8abc8",
        "type": "inject",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "topic": "refreshToken",
        "payload": "accessToken",
        "payloadType": "global",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "84a194d8.07fc08"
            ]
        ]
    },
    {
        "id": "a45775d4.0e44d8",
        "type": "http request",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ipaddress}}/api/refreshToken",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "285cb1bc.89b96e"
            ]
        ]
    },
    {
        "id": "84a194d8.07fc08",
        "type": "change",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\":\"Bearer \" & payload\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "a45775d4.0e44d8"
            ]
        ]
    },
    {
        "id": "285cb1bc.89b96e",
        "type": "change",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "accessToken",
                "pt": "global",
                "to": "payload.token",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2f075aed.d01f26",
        "type": "comment",
        "z": "7f95cb24.6f6f44",
        "name": "Refresh token",
        "info": "",
        "x": 90,
        "y": 340,
        "wires": []
    },
    {
        "id": "7a5ab32b.8eb37c",
        "type": "comment",
        "z": "7f95cb24.6f6f44",
        "name": "Telldus Tellstick",
        "info": "Local API  \nhttp://api.telldus.net/localapi/api.html  ",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "31926ad.34b0c96",
        "type": "inject",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "topic": "Init",
        "payload": "192.168.1.5",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 340,
        "y": 40,
        "wires": [
            [
                "d2a0e21e.18bf2"
            ]
        ]
    },
    {
        "id": "d2a0e21e.18bf2",
        "type": "change",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "56727452.9ca0bc",
        "type": "change",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "ec11a272.efb4b"
            ]
        ]
    },
    {
        "id": "ec11a272.efb4b",
        "type": "http request",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ipaddress}}/api/token?token={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "aaf4fb81.394248"
            ]
        ]
    },
    {
        "id": "aaf4fb81.394248",
        "type": "change",
        "z": "7f95cb24.6f6f44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "accessToken",
                "pt": "global",
                "to": "payload.token",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    }
]