nodered/lib/flows/Telldus Local API.json
[
    {
        "id": "7b34ca58.d04434",
        "type": "tab",
        "label": "Telldus Local API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd835577.edec38",
        "type": "http request",
        "z": "7b34ca58.d04434",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ipaddress}}/api/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "5b47d123.41d4a"
            ]
        ]
    },
    {
        "id": "378a6f63.43dbe",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "",
        "topic": "",
        "payload": "app=\"Nodered\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "6f948f82.f7ba4"
            ]
        ]
    },
    {
        "id": "5b47d123.41d4a",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "requestToken",
                "pt": "global",
                "to": "payload.token",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "956efba6.5f7e38"
            ]
        ]
    },
    {
        "id": "f365833f.5cb09",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "",
        "topic": "",
        "payload": "requestToken",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "acc5ad4c.4419e"
            ]
        ]
    },
    {
        "id": "19c33f64.a8af61",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Step 2 - Authenticate the app",
        "info": "Redirect the user to the url returned in step 1 to let him/her authenticate the app.",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "86a75ed8.7c884",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Step 1 - Request a request token",
        "info": "Request a request token by performing a PUT call to the endpoint /api/token. You need to supply the application name as a parameter “app”\n\n",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "2800216f.a01e5e",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Step 3 - Exchange for an access token",
        "info": "When the user has authenticated the request token in step 2 the application needs to exchange this for an access token. The access token can be used in the API requests. To exchange the request token for an access token perform a GET call to the same endpoint in step 1. Supply the request token as the parameter “token”.",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "6f948f82.f7ba4",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"application/x-www-form-urlencoded\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "fd835577.edec38"
            ]
        ]
    },
    {
        "id": "956efba6.5f7e38",
        "type": "debug",
        "z": "7b34ca58.d04434",
        "name": "url",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.authUrl",
        "x": 1170,
        "y": 200,
        "wires": []
    },
    {
        "id": "fc37580d.9e6b88",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "",
        "topic": "refreshToken",
        "payload": "accessToken",
        "payloadType": "global",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "6346acd7.8184d4"
            ]
        ]
    },
    {
        "id": "f403953a.c00068",
        "type": "http request",
        "z": "7b34ca58.d04434",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ipaddress}}/api/refreshToken",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "55e7d585.ef67cc"
            ]
        ]
    },
    {
        "id": "6346acd7.8184d4",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\":\"Bearer \" & payload\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "f403953a.c00068"
            ]
        ]
    },
    {
        "id": "55e7d585.ef67cc",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "accessToken",
                "pt": "global",
                "to": "payload.token",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 340,
        "wires": [
            [
                "31f698c5.65d1a8"
            ]
        ]
    },
    {
        "id": "a2075f29.aa731",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Refresh token",
        "info": "",
        "x": 90,
        "y": 340,
        "wires": []
    },
    {
        "id": "572b1d42.40ad44",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Telldus  Local API",
        "info": "- Authentication steps are documented at  \nhttp://api.telldus.net/localapi/api.html  \n  \n- The Local API is otherwise not well documented, although it got some resemblance with the Live API  \nhttps://api.telldus.com/  \n\n- My TellStick has some additional info onboard  \nhttp://192.168.1.5/api  \n(Telldus TellStick ZNet Lite v2)  \n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "b030b08a.88e01",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "",
        "topic": "Init",
        "payload": "192.168.1.5",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "b90d76bc.744428"
            ]
        ]
    },
    {
        "id": "b90d76bc.744428",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "acc5ad4c.4419e",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "c029edac.024f3"
            ]
        ]
    },
    {
        "id": "c029edac.024f3",
        "type": "http request",
        "z": "7b34ca58.d04434",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ipaddress}}/api/token?token={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 830,
        "y": 280,
        "wires": [
            [
                "8a2031ce.0e6ea"
            ]
        ]
    },
    {
        "id": "8a2031ce.0e6ea",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "accessToken",
                "pt": "global",
                "to": "payload.token",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "36318f0e.10b04"
            ]
        ]
    },
    {
        "id": "36318f0e.10b04",
        "type": "debug",
        "z": "7b34ca58.d04434",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "31f698c5.65d1a8",
        "type": "debug",
        "z": "7b34ca58.d04434",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "e4047f9f.6e601",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "",
        "topic": "devices/list",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "19681276.82adfe"
            ]
        ]
    },
    {
        "id": "64515738.474178",
        "type": "debug",
        "z": "7b34ca58.d04434",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "47f75f8f.fc76c",
        "type": "http request",
        "z": "7b34ca58.d04434",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": true,
        "url": "http://{{ipaddress}}/api/{{{topic}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "64515738.474178"
            ]
        ]
    },
    {
        "id": "19681276.82adfe",
        "type": "change",
        "z": "7b34ca58.d04434",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t   \"Authorization\":\"Bearer \" & $globalContext(\"accessToken\")\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ipaddress",
                "pt": "msg",
                "to": "ipaddress",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "47f75f8f.fc76c"
            ]
        ]
    },
    {
        "id": "4bf4302b.8ab1",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "",
        "topic": "sensors/list",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "19681276.82adfe"
            ]
        ]
    },
    {
        "id": "6c9c147c.93a2dc",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "",
        "topic": "sensor/info",
        "payload": "{\"id\":7}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "19681276.82adfe"
            ]
        ]
    },
    {
        "id": "523a86eb.532798",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "Get all sensor values",
        "topic": "sensors/list",
        "payload": "{\"includeValues\":1,\"includeScale\":1,\"includeUnit\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "19681276.82adfe"
            ]
        ]
    },
    {
        "id": "6c4915bc.2f3dbc",
        "type": "inject",
        "z": "7b34ca58.d04434",
        "name": "Rename sensor",
        "topic": "sensor/setName",
        "payload": "{    \"id\": 7,    \"name\": \"test\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 560,
        "wires": [
            [
                "19681276.82adfe"
            ]
        ]
    },
    {
        "id": "b6f03b36.ed17e8",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Examples",
        "info": "",
        "x": 80,
        "y": 400,
        "wires": []
    },
    {
        "id": "cb66cb62.85aa98",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Config",
        "info": "IP-address of your Telldus device",
        "x": 70,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a40417a.61ba2",
        "type": "comment",
        "z": "7b34ca58.d04434",
        "name": "Authentication",
        "info": "- Authentication steps are documented at  \nhttp://api.telldus.net/localapi/api.html  ",
        "x": 90,
        "y": 160,
        "wires": []
    }
]